<p id="notice"><%= notice %></p>

<h1>Listas de Tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Autor </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <% if !todo_list.is_private? || todo_list.user == current_user %>
        <tr>
          <td><%= todo_list.title %></td>
          <td><%= todo_list.description %></td>
          <td><%= todo_list.user.email %></td>
          <td><%= link_to 'Exibir', todo_list %></td>
          
          <% if todo_list.user == current_user %>
            <td><%= link_to 'Editar', edit_todo_list_path(todo_list) %></td>
            <td><%= link_to 'Deletar', todo_list, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          <% end %>
          </tr>
       <% end %>
    <% end %>
    </tbody>
</table>

<h1>Listas Favoritas</h1>

<% current_user.favorites.each do |favorite| %>
  <%= link_to favorite.todo_list.title, favorite.todo_list %>  
<% end %>


<br>

<%= link_to 'Criar Nova Lista', new_todo_list_path %>
