<p id="notice"><%= notice %></p>

<h4>
  <strong>Título:</strong>
  <%= @todo_list.title %> 
  <%= link_to favorite_text, favorites_update_path(todo_list: @todo_list), id:'favorite_link', remote: true, :class => "btn btn-warning" %> 
</h4>

<p>
  <strong>Descrição:</strong>
  <%= @todo_list.description %>
</p>
<p>
  <strong>Autor:</strong>
  <%= @todo_list.user.email %>
</p>
<p style="margin-bottom:60px;">
  <strong>Tipo:</strong>
  <% if @todo_list.is_private %>
      <span style="color: red;">Lista Particular</span>
  <% else %>
      <span style="color: green;">Lista Pública</span>
  <% end %>
</p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>
<% if @todo_list.user == current_user %>
  <%= link_to 'Editar', edit_todo_list_path(@todo_list), :class => "btn btn-primary" %> 
<% end %>
  <%= link_to 'Voltar', todo_lists_path, :class => "btn btn-primary" %>
