<p id="notice"><%= notice %></p>

<h4>
  <strong>Título:</strong>
  <%= @todo_list.title %> 
  <%= link_to favorite_text, favorites_update_path(todo_list: @todo_list), id:'favorite_link', remote: true, :class => "btn btn-warning" %> 
</h4>

<p style="margin-bottom:60px;">
  <strong>Descrição:</strong>
  <%= @todo_list.description %>
</p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>
<% if @todo_list.user == current_user %>
  <%= link_to 'Editar', edit_todo_list_path(@todo_list), :class => "btn btn-primary" %> 
<% end %>
  <%= link_to 'Voltar', todo_lists_path, :class => "btn btn-primary" %>
