<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  <% if user_signed_in? %>
    <div id="nav-barr" class="navbar shadow-sm">
      <div class="container d-flex justify-content-between">
        <%= link_to root_path, :class =>"navbar-brand d-flex align-items-center" do %>
          <img  src="https://image.flaticon.com/icons/svg/1651/1651774.svg" alt="" width="30" height="30">
          <span class="app-title">ToDo Lists</span>
        <% end %>
        <span class="navbar-text">        
          Logado como: <strong><%= current_user.email %></strong>.
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>      
        </span>
      </div>
    </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
